<h1 class="page-header text-center">Did {{name}} Make It?</h1>

<div id="stats">
  <h3>Use these to stat shots during game:</h3>
  <button class="btn btn-success" {{action "shotMade"}} name="made">Made it!</button>
  <br>
  <br>
  <button class="btn btn-danger" {{action "shotMissed"}} name="missed">Missed it!</button>
</div>

<div id="results">
  <h3>Use these to display stat results as needed:</h3>
  <button class="btn btn-info" {{action "totalShots"}} name="total">Total</button>
  <br>
  <h4>Total Shots: {{totalShots}}</h4>
  <button id="percent" class="btn btn-primary" {{action "percentage"}} name="percent">Percentage</button>
  <br>
  <h4>Shots Made: {{shotPercentage}}%</h4>
</div>

<div class="progress">
</div>

{{outlet}}
